Renaes/Service References/RenaesService/ServicioEstablecimiento.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetEstablecimiento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCodigo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEstablecimientoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEstablecimientoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarModelesxRuc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pruc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pcod_sunasa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarModelesxRucResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarModelesxRucResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEstablecimientoSoapIn">
    <wsdl:part name="parameters" element="tns:GetEstablecimiento" />
  </wsdl:message>
  <wsdl:message name="GetEstablecimientoSoapOut">
    <wsdl:part name="parameters" element="tns:GetEstablecimientoResponse" />
  </wsdl:message>
  <wsdl:message name="listarModelesxRucSoapIn">
    <wsdl:part name="parameters" element="tns:listarModelesxRuc" />
  </wsdl:message>
  <wsdl:message name="listarModelesxRucSoapOut">
    <wsdl:part name="parameters" element="tns:listarModelesxRucResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioEstablecimientoSoap">
    <wsdl:operation name="GetEstablecimiento">
      <wsdl:input message="tns:GetEstablecimientoSoapIn" />
      <wsdl:output message="tns:GetEstablecimientoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarModelesxRuc">
      <wsdl:input message="tns:listarModelesxRucSoapIn" />
      <wsdl:output message="tns:listarModelesxRucSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioEstablecimientoSoap" type="tns:ServicioEstablecimientoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEstablecimiento">
      <soap:operation soapAction="http://tempuri.org/GetEstablecimiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarModelesxRuc">
      <soap:operation soapAction="http://tempuri.org/listarModelesxRuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioEstablecimientoSoap12" type="tns:ServicioEstablecimientoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEstablecimiento">
      <soap12:operation soapAction="http://tempuri.org/GetEstablecimiento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarModelesxRuc">
      <soap12:operation soapAction="http://tempuri.org/listarModelesxRuc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioEstablecimiento">
    <wsdl:port name="ServicioEstablecimientoSoap" binding="tns:ServicioEstablecimientoSoap">
      <soap:address location="http://app12.susalud.gob.pe:8084/ServicioEstablecimiento.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioEstablecimientoSoap12" binding="tns:ServicioEstablecimientoSoap12">
      <soap12:address location="http://app12.susalud.gob.pe:8084/ServicioEstablecimiento.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>